<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<div class="centered">
    <div class="logo">
        <span>Cat Book</span>
    </div>
    <p class="slogan">Social Media for Cats</p>
</div>