{% extends "header.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<h1>Login</h1>>
<div>
    {{ wtf.quick_form(form) }} </br>
</div>
<div class="centered">
    <p class="disclaimer">Disclaimer: For CCSEP assignment purpose only</p>
    <p class="group-name">Presented by K-SQUAD, derrived from Katz-SQUAD</p>
</div>