.centered {
    text-align: center;
}

.logo {
    font-family: "Bell MT";
            font-size: 48px;
        line-height: 5px;
        margin-top: 30px;
}

.slogan {
    font-family: "Brush Script MT";
        font-size: 30px;
        line-height: 10px;
        color: grey;
}

.group-name {
    font-family: "Tahoma";
    font-size: 18px;
    line-height: 5px;
    color: black;
}

.disclaimer {
    font-family: "Tahoma";
    font-size: 30px;
    color: red;
    line-height: 5px;
}

.left-gap {
    margin-left: 10px;
}

.default {
    font-family: "Tahoma";
}

.floating-bubble {
    border-radius: 10px;
    border-color: black;
    margin-left: 20px;
}