<div class="floating-bubble">
    <table>
        <tr>
            <td width="50px">
                <img src="{{ url_for('static', filename='catone.jpg')}}" width="50" height="50"/>
            </td>
            <td width="20px">
            </td>
            <td>
                <h4 class="default"><b>{{ user.username }}</b> {{"(admin)" if user.is_admin else ""}}</h4>
                <button type="button" onclick="window.location.href='/modify?username={{user.username}}&admin=True'">Make admin</button>
                <button type="button" onclick="window.location.href='/delete?username={{user.username}}'">Delete</button>
            </td>
        </tr>
    </table>
</div>